<%= stylesheet_link_tag 'admins', media: 'all', type:"text/css" %>

<section class="home_admins">
	<div class="logo">
		<%= image_tag "logo_inforsalud.jpg", :class => "logo img-responsive" %>
	</div>
	<h2 class="title"><%= t("admins.index")%> </h2>
	
	<div class="content_info">
		<section class="data clearfix">
			<div class="admin_data name">Nombre</div>
			<div class="admin_data lastname">Apellido</div>
			<div class="admin_data username">Usuario</div>
			<div class="admin_data email">Correo</div>
			<div class="admin_data show">Mostrar Usuario</div>
			<div class="admin_data remove">Borrar Usuario</div>
		</section>
		<section class="show_admins clearfix">
			<% @admins.each do |a| %>
			<div class="admin_name">
				<p class="info"><%= a.name %></p>
			</div>
			<div class="admin_lastname">
				<p class="info"><%= a.lastname %></p>
			</div>
			<div class="admin_username">
				<p class="info"><%= a.username %></p>
			</div>
			<div class="admin_email">
				<p class="info"><%= a.email %></p>
			</div>
			<div class="show_admin">
				<p class="link"><%= link_to icon('user-circle'), a %></p>
			</div>
			<div class="remove_admin">
				<% if current_admin.id != a.id %>
				<p class="link"><%= link_to icon('user-times'), u, method: :delete, data: { confirm: 'Are you sure?'}  %></p>
				<% end %>
			</div>

			<% end %>	
		</section>

		<%= link_to  new_admin_path, :class => "create_admin" do %>
		<%= icon('user-plus') + " " + t("admins.new") %>
		<% end%>
	</div>
	
	<%= render 'paginate' %>	
</section>