<%= stylesheet_link_tag 'admins', media: 'all', type:"text/css" %>

<h1><%= t("global.back") %> </h1>


<%= t("admins.attributes.name") %>  <%= @admin.name %>
<%= t("admins.attributes.lastname") %> <%= @admin.lastname %>
<%= t("admins.attributes.username") %> <%= @admin.username %>
<%= t("admins.attributes.email") %> <%= @admin.email %>
<%= link_to t("global.back"), dashboard_path %>

