<%= stylesheet_link_tag 'admins', media: 'all', type:"text/css" %>

<section class="main">
	<div class="edit">
		<div class="logo">
			<%= image_tag "logo_inforsalud.jpg", :class => "logo img-responsive" %>
		</div>
		<h2 class="title"><%= t("devise.registrations.edit.title", resource: resource_name.to_s.humanize ) %></h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field name">
			<%= f.label :name %>
			<%= f.text_field :name, autofocus: true %>
		</div>
		<div class="field lastname">
			<%= f.label :lastname %>
			<%= f.text_field :lastname %>
		</div>
		<div class="field username">
			<%= f.label :username %>
			<%= f.text_field :username, disabled:true %>
		</div>
		<div class="field email">
			<%= f.label :email %>
			<%= f.email_field :email, disabled:true %>
		</div>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>
		<div class="field password">
			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
			<%= f.password_field :password, autocomplete: "off" %>
			<% if @minimum_password_length %>
			<br />
			<em><%= @minimum_password_length %> characters minimum</em>
			<% end %>
		</div>
		<div class="field password_confirmation">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>
		<div class="field current_password">
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
			<%= f.password_field :current_password, autocomplete: "off" %>
		</div>

		<div class="actions">
			<%= f.submit t("devise.registrations.edit.update") %>
		</div>
		<% end %>
	</div>
	<div class="remove">
		<div class="remove_content">
			<h3 class="title"><%= t("goblal.cancel_account")%> </h3>
			<p><%= t("goblal.unhappy")%> <%= button_to t("devise.registrations.edit.cancel_my_account"), registration_path(resource_name), :class  =>'btn remove_admin btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>
		</div>
	</div>
</section>