<%= form_with(model: carrer, class: 'new_career', local: true) do |form| %>
  <% if carrer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrer.errors.count, "error") %> prohibited this carrer from being saved:</h2>

      <ul>
      <% carrer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :carrer_name , placeholder: :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label "Descripción" %>
    <%= form.text_area :description, id: :carrer_description, placeholder: :description, rows: "6" %>
  </div>

  <div class="field">
    <%= form.label "Perfil del Egresado" %>
    <%= form.text_area :graduated_profile, id: :carrer_graduated_profile, placeholder: :graduated_profile, rows: "6"  %>
  </div>

  <div class="field">
    <%= form.label "Número de Semestres" %>
    <%= form.number_field :semester_number, id: :carrer_semester_number, placeholder: :semester_number %>
  </div>

  <div class="field">
    <%= form.label "Objetivos" %>
    <%= form.text_area :objective, id: :carrer_objective, placeholder: :objective, rows: "6" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Carrera" %>
  </div>
<% end %>
