<%= stylesheet_link_tag 'carrers', media: 'all', type:"text/css" %>

<%= link_to dashboard_path, :class=>"home" do %>
<%= icon('home') + " " + t("administrator.home") %>
<% end %>

<section class="home_career">
	<div class="logo">
		<%= image_tag "logo_inforsalud.jpg", :class => "logo img-responsive" %>
	</div>
	<h2 class="title">Carreras</h2>
	
	<div class="content_info">
		<section class="data row">
			<div class="career_data name">Nombre</div>
			<div class="career_data description">Descripción</div>
			<div class="career_data semester">Número de Semestres</div>
			<div class="career_data goals">Objetivos</div>
			<div class="career_data show">Ver</div>
			<div class="career_data edit">Editar</div>
			<div class="career_data remove">Eliminar</div>
		</section>
		<section class="show_careers">
			<% @carrers.each do |carrer| %>
			<div class="career_detail clearfix">
				<div class="career_name">
					<p class="info"><%= carrer.name %></p>
				</div>
				<div class="career_description">
					<p class="info"><%= carrer.description %></p>
				</div>
				<div class="career_semester">
					<p class="info"><%= carrer.semester_number %></p>
				</div>
				<div class="career_goals">
					<p class="info"><%= carrer.objective %></p>
				</div>
				<div class="show_career">
					<p class="link"><%= link_to icon('eye'), carrer %></p>
				</div>
				<div class="edit_career">
					<p class="link"><%= link_to icon('pencil-square-o'), edit_carrer_path(carrer) %></p>
				</div>
				<div class="remove_career">
					<p class="link"><%= link_to icon('times'), carrer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
				</div>
			</div>
			<% end %>	
		</section>

		<%= link_to  new_carrer_path, :class => "create_career" do %>
		<%= icon('graduation-cap') + " Nueva Carrera" %>
		<% end%>
	</div>
	
	<%= render 'paginate' %>	
</section>

<%= javascript_include_tag 'careers' %>


