<%= stylesheet_link_tag 'carrers', media: 'all', type:"text/css" %>

<%= link_to dashboard_path, :class=>"home" do %>
<%= icon('home') + " " + t("administrator.home") %>
<% end %>

<section class="main">
	<div class="registration">
		<div class="logo">
			<%= image_tag "logo_inforsalud.jpg", :class => "logo img-responsive" %>
		</div>
		<h2 class="title">Nueva Carrera</h2>
		<%= render 'form', carrer: @carrer %>
	</div>
</section>