<%= form_with(model: franchise, class: 'new_franchise', local: true) do |form| %>
<% if franchise.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(franchise.errors.count, "error") %> prohibited this franchise from being saved:</h2>

	<ul>
		<% franchise.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= form.label "Nombre" %>
	<%= form.text_field :name, id: :franchise_name, placeholder: :name, autofocus: true %>
</div>

<div class="field">
	<%= form.label "Dirección" %>
	<%= form.text_field :address, id: :franchise_address, placeholder: :address %>
</div>

<div class="field">
	<%= form.label "Descripción" %>
	<%= form.text_area :description, id: :franchise_description, placeholder: :description, rows: "4" %>
</div>

<div class="actions">
	<%= form.submit "Crear Franquicia" %>
</div>
<% end %>
