<%= stylesheet_link_tag 'franchises', media: 'all', type:"text/css" %>

<%= link_to dashboard_path, :class=>"home" do %>
<%= icon('home') + " " + t("administrator.home") %>
<% end %>

<section class="home_franchises">
	<div class="logo">
		<%= image_tag "logo_inforsalud.jpg", :class => "logo img-responsive" %>
	</div>
	<h2 class="title">Franquicias</h2>
	
	<div class="content_info">
		<section class="data row">
			<div class="admin_data name">Nombre</div>
			<div class="admin_data address">Dirección</div>
			<div class="admin_data description">Descripción</div>
			<div class="admin_data show_careers">Ver Carreras</div>
			<div class="admin_data asign_careers">Enlazar Carreras</div>
			<div class="admin_data show">Ver</div>
			<div class="admin_data edit">Editar</div>
			<div class="admin_data remove">Eliminar</div>
		</section>
		<section class="show_franchises clearfix">
			<% @franchises.each do |franchise| %>
			<div class="franchise_name">
				<p class="info"><%= franchise.name %></p>
			</div>
			<div class="franchise_address">
				<p class="info"><%= franchise.address %></p>
			</div>
			<div class="franchise_description">
				<p class="info"><%= franchise.description %></p>
			</div>
			<div class="franchise_show_careers">
				<p class="info"><%= link_to 'Mostrar carreras', show_carrers_franchise_path(franchise) %></p>
			</div>
			<div class="franchise_asign_careers">
				<p class="link"><%= link_to 'Enlazar carrera', link_carrer_franchise_path(franchise) %></p>
			</div>
			<div class="show_franchise">
				<p class="link"><%= link_to icon('eye'), franchise %></p>
			</div>
			<div class="edit_franchise">
				<p class="link"><%= link_to icon('pencil-square-o'), edit_franchise_path(franchise) %></p>
			</div>
			<div class="remove_admin">
				<p class="link"><%= link_to icon('times'), franchise, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			</div>
			<% end %>	
		</section>

		<%= link_to  new_franchise_path, :class => "create_franchise" do %>
		<%= icon('building') + " Nueva Franquicia" %>
		<% end%>
	</div>
	
	<%= render 'paginate' %>	
</section>


