<!DOCTYPE html>
<html>
  <head>
    <title>Inforsalud</title>
    <%= stylesheet_link_tag 'application', media: 'all', type:"text/css" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
    <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
  </body>
</html>
